body {
}

.profile {
    background: #181a1b;
    height: 75vh;
    padding: 2rem 8rem;
    font-size: 1.6rem;
}

.profile-label {
    color: white;
    text-align: center;
    margin: 4rem;
}

.profile-form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    justify-items: center;
}

.profile-form-left {
    grid-column-start: 1;
}

h4 {
    margin-top: 2rem;
}

.profile-form-pic-speaker {
    grid-column-start: 2;
    grid-row: 1 / 3;
    width: 20%;
    border: .2rem solid black;
    border-color: rgb(111, 103, 91);
    border-radius: 4rem;
}

.input-text {
    width: 25rem;
    padding: 1rem;
    border: .1rem solid;
    border-radius: 1rem;
}

.profile-form-set-photo-button {
    grid-column-start: 2;
    grid-row-start: 4;
}

.profile-form-retire-photo-button {
    grid-column-start: 2;
    grid-row-start: 5;
}

.profile-form-submit {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.chose-photo {
    background: #0250c4 !important;
}

.submit-button {
    background: #146c43 !important;
    padding: .5rem 2.5rem;
    border: .1rem solid #20af6d !important;
}