@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

html {
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
    font-family: "Source Sans Pro";
    color: azure;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    color: azure;
    font-size: 1.6rem;
}

section.events-header {
    display: block;
    height: 100%;
    background: #2838b4;
    text-align: center;
}

.events-h1 {
    font-size: 4rem;
    padding-top: 3rem;
}

.events-h3 {
    display: block;
    padding: 3rem 17rem;
    color: azure;
}

h3 {
    font-size: 2rem;
    color: azure;
}

section.find-events {
    width: 100%;
    padding: 5rem 10rem;
    margin: auto auto;
}

.events {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.event-form-body {
    box-shadow: 0 1rem 2rem rgba(0,0,0,.15) !important;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    border-radius: .5rem;
    border: .1rem solid black;
}

.event-input-text {
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 3rem;
}

/*div do formulario*/

/*primeira linha*/
.event-div-first-line {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    height: auto;
}

/*search text input div*/
.event-div-first-line-search {
    width: 60%;
}

.event-input-first-line-search-input {
    border: .1rem solid gray;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 4rem;
}

/*search button div*/
.event-div-first-line-button {
    width: 20%
}

.event-input-first-line-search-button {
    border: .1rem solid gray;
    border-radius: .5rem;
    background: #b5bbeb;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 4rem;
}
/*fim da primeira linha*/

/*segunda linha*/
.event-div-second-line {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    height: auto;
}

/*search text input div*/
.event-div-second-line-search {
    width: 60%;
}

.event-input-second-line-search-input {
    border: .1rem solid gray;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 4rem;
}

/*search button div*/
.event-div-second-line-button {
    width: 20%
}

.event-input-second-line-search-button {
    border: .1rem solid gray;
    border-radius: .5rem;
    background: #b5bbeb;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 4rem;
}

/*Listagem de eventos*/
.events-list {
    margin-top: 3rem;
}

.events-list-title {
    margin-bottom: 3rem;
    color: black;
}

.events-list-title-h3 {
    color: black;
}

/*cards*/
cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.text--medium {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: #ecf0f1;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #70160E;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

    .card:hover {
        transform: translateY(-7px);
    }

.image {
    width: 100%;
    padding-top: 56.25%; /* 16:9 */
    overflow: hidden;
    position: relative;
}

    .image img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.content {
    margin: 20px;
}

.title {
    margin-bottom: 20px;
}

.info {
    display: flex;
    align-self: end;
    align-items: center;
}

.type {
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #4BD18E;
    filter: brightness(90%);
}

.time {
    margin-left: auto;
}

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
    background-color: white;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 90%;
    transform: translate(-50%, -50%);
}

